body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.word-space {
    word-spacing: 0.5rem;
}

#navbar-container {
    /*background-color: #dadada;*/
}

.scrollbar-off {
    overflow-x: scroll; /* Enable horizontal scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollbar-off::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.scrollbar-off::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}
.scrollbar-off {
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

#grid-gesture-container::-webkit-scrollbar {
    display: none;
}

.hidden {
    visibility: hidden;
}
