{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div id="main-app">
        {{ parent() }}
        <dashboard :categories="{{ categories|json_encode }}"></dashboard>
    </div>
{% endblock %}
