{% extends 'base.html.twig' %}

{% block title %}Translate gestures{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="translator-container">
        <gesture-translator></gesture-translator>
    </div>
{% endblock %}
