{% extends 'base.html.twig' %}

{% block title %}Translate gestures{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="navbar-container" class="bg-dark">
        <navbar></navbar>
    </div>
    <div id="translator-container">
        <gesture-translator></gesture-translator>
    </div>
{% endblock %}
