{% extends 'base.html.twig' %}

{% block title %}Reorder gestures{% endblock %}

{% block body %}
    <div>
        {{ parent() }} {# Navbar #}
        <div id="grid-container" style="height: 100vh">
            <grid-gesture></grid-gesture>
        </div>
    </div>
{% endblock %}
