{% extends 'base.html.twig' %}

{% block title %}Reorder gestures{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="d-flex flex-column vh-100">
        <div id="navbar-container" class="bg-dark">
            <navbar :back-button="true"></navbar>
        </div>
        <div id="gesture-sequence-container" class="d-flex flex-column flex-grow-1">
            <gesture-sequence></gesture-sequence>
        </div>
    </div>
{% endblock %}
